*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Colors*/

.midnight-green-1 {
	background-color: #003746;
}

.midnight-green-2 {
	background-color: #075466;
}

.midnight-green-3 {
	background-color: #036276;
}

.midnight-green-4 {
	background-color: #026B81;
}

.midnight-green-5 {
	background-color: #06768C;
}

.midnight-green-6 {
	background-color: rgb(7, 148, 176);
}

/*Fonts*/

body {
	font-family: 'Poppins', sans-serif;
}

/*Nav Bar*/

.navbar-mg-1 {
	color: #003746;
}

.navbar-brand img {
	width: 50px;
}

.navbar-nav {
	align-items: center;
}

.navbar .navbar-nav .nav-link {
	color: #44F4DC;
	font-size: 1.1em;
	padding: .5em 1em;
	margin-right: 1em;
	margin-left: 1em;
}

@media screen and (min-width: 992px) {
	.navbar-brand {
	margin-right: 0;
	padding: 0 1em;
	}
}

/*Home Page*/

#img {
	width: 220px;
	height: 220px;
}

/*Footer*/
#my-img-2 {
	width: 200px;
	height: 200px;
}



